body{
    background: linear-gradient(#212529, #003c78);
}

.icon{
    width: 100px;
    height: 100px;
    border: solid 2px #FFF;
    border-radius: 100%;
}

canvas{
    position: fixed;
    top:-100px;
    left:0;
    z-index: -1;
}